i{
    font-size: 40px;
    margin-top: 10px;
  
}

.bg-primary{
    top: 5px;
    left: 40%;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.navbar-collapse{
    margin-left: 62%;
}